body {
    background-color: #f0f0f0;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
